<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Precisa da criação da pasta public -->
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <div class="box" id="heading">
        <h1> <%= tituloLista %> </h1>
    </div>

    <div class="box">
        <% for (let i=0; i<listaDeItens.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= listaDeItens[i] %>
                </p>
            </div>
        <% } %>

        <form class="item" action="/" method="post">
            <input type="text" name="afazer" placeholder="Novo item" autocomplete="off">
            <button type="submit" name="adicionar" value="<%= tituloLista %>">+</button>
        </form>

    </div>



</body>

</html>